.laatste-posts-container {
    padding: 1vw;
    margin-bottom: 1vw;
    background-color: #ffebb3;
}

.laatste-posts-container .post {
    margin-bottom: .5em;
    padding-bottom: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.laatste-posts-container .post span.datum {
    margin-right: 1vw;
}

.laatste-posts-container .post a {
    color: #666;
    text-decoration: none;
}

.laatste-posts-container .post a:visited {
    color: #666;
}

.laatste-posts-container .post a:hover {
    color: #82c0c7;
}