.werkgroep-card .werkgroep-card-inner {
    background-color: #ffebb3;
    padding: 1vw;
    margin: 1vw;
}

.werkgroep-card h3 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #666;
    margin-bottom: 1vw;
}

.werkgroep-card .value-wrapper {
    display: flex;
    flex-direction: row;
}

.werkgroep-card .value-wrapper .icon {
    margin-right: 1vw;
}

.werkgroep-card .info-wrapper .sub-werkgroep-info {
    margin-left: 1vw;
    margin-bottom: 1vw;
}

.werkgroep-card .info-wrapper .sub-werkgroep-info .value-wrapper {
    margin-left: 0.5vw;
}

.werkgroep-listing {
    margin-left: 1vw;
}

.bestuurders-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}