.info-container {
    margin-top: 1vw;
    margin-bottom: 1vw;
    border-width: 1px;
    border-style: solid;
    border-radius: 1vw;
    padding: 1vw;
    
}

/* Icon styling */

.info-icon-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-icon-wrapper .icon-wrapper {
    margin-right: 1vw;
}

.info-icon-wrapper .icon-wrapper.small>span {
    font-size: 18px;
}

.info-icon-wrapper .icon-wrapper.big>span {
    font-size: 45px;
}