.post-card-inner {
    width: 95%;
    margin: 0.25vw;
}

.post-card-inner a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.post-card-inner a .foto-wrapper {
    position: relative;
    width: 100%;
    background-color: #f8f8f8;
}

.post-card-inner a .info-wrapper .titel,
.post-card-inner a .info-wrapper .datum {
    color: #808080;
    font-size: 0.9rem;
}

.post-card-inner a .info-wrapper h4 {
    color: #041d3d;
}

.post-card-inner a:hover .info-wrapper {
    color: #e4e7ed;
}

.post-card-inner .info-wrapper {
    padding: 0.75vw;
}

.post-card-inner .foto-wrapper .meer-lezen {
    height: 30px;
    position: absolute;
    bottom: 1vw;
    left: 1vw;
    background-color: #ffc72b;
    color: #041d3d;
    font-size: 0.85rem;
    font-weight: bold;
    visibility: hidden;
}

.post-card-inner a:hover .foto-wrapper .meer-lezen {
    visibility: visible;
}

.post-card-inner .foto-wrapper img {
    width: 100%;
}

.post-card-inner .foto-wrapper img.no-image {
    min-height: 200px;
    max-height: 200px;
    width: auto;
}

.archief-filter {
    background-color: #ffebb3;
}

.archief-filter .dropdown a.dropdown-toggle {
    color: #fff !important;
}

.archief-filter .dropdown .dropdown-menu {
    list-style: none !important;
    padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x) !important;
    z-index: 5000;
}

.archief-filter .dropdown a.dropdown-item {
    color: var(--bs-dropdown-link-color) !important;
}

.archief-filter .filter-value {
    color: #808080;
}

.archief-container .post-card-inner a .info-wrapper h4.titel {
    font-size: 1.15rem;
    color: #041d3d;
}

.post-info-card .gerelateerde-wedstrijd {
    max-width: 15rem;
}

.activiteit-knop>a:hover {
    background-color: #ffebb3;
}

.activiteit-knop>a {
    padding: .3em .75em;
    border-radius: 100px;
    background-color: #ffc72b;
    display: flex;
    flex-direction: row;
    color: #041d3d !important;
    text-decoration: none;
    letter-spacing: 0px;
    font-size: 1rem;
}

.related-post a {
    background-color: #f8f8f8;
}

.related-post .titel,
.related-post .datum {
    font-size: 0.8rem;
}

.related-post.wedstrijdverslag .foto-wrapper {
    position: relative;
    width: 100%;
    background-color: #f8f8f8;
}

.related-post.wedstrijdverslag a .foto-wrapper .meer-lezen {
    height: 30px;
    position: absolute;
    bottom: 1vw;
    left: 1vw;
    background-color: #ffc72b;
    color: #041d3d;
    font-size: 0.85rem;
    font-weight: bold;
    visibility: hidden;
}

.related-post.wedstrijdverslag a:hover .foto-wrapper .meer-lezen {
    visibility: visible;
}

.related-post.nieuwsbericht a:hover {
    background-color: #445e85;
}

.related-post.nieuwsbericht a .post-info-card h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.related-post.nieuwsbericht a:hover .post-info-card h3,
.related-post.nieuwsbericht a:hover .post-info-card .titel,
.related-post.nieuwsbericht a:hover .post-info-card .datum {
    color: #e4e7ed;
}