.wedstrijdverslag-card-inner {
    width: 95%;
    margin: 0.25vw;
}

.wedstrijdverslag-card-inner a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.wedstrijdverslag-card-inner a .foto-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 200px;
    max-height: 200px;
    background-color: #f8f8f8;
}

.wedstrijdverslag-card-inner a .info-wrapper .wedstrijd,
.wedstrijdverslag-card-inner a .info-wrapper .datum {
    color: #808080;
    font-size: 0.9rem;
}

.wedstrijdverslag-card-inner a .info-wrapper h4 {
    color: #041d3d;
}

.wedstrijdverslag-card-inner a:hover .info-wrapper {
    color: #e4e7ed;
}

.wedstrijdverslag-card-inner .info-wrapper {
    padding: 0.75vw;
}

.wedstrijdverslag-card-inner .foto-wrapper .meer-lezen {
    height: 30px;
    position: absolute;
    bottom: 1vw;
    left: 1vw;
    background-color: #ffebb3;
    color: #041d3d;
    font-size: 0.85rem;
    font-weight: bold;
    visibility: hidden;
}

.wedstrijdverslag-card-inner a:hover .foto-wrapper .meer-lezen {
    visibility: visible;
}

.wedstrijdverslag-card-inner .foto-wrapper img {
    width: 100%;
}

.wedstrijdverslag-card-inner .foto-wrapper img.no-image {
    min-height: 200px;
    max-height: 200px;
    width: auto;
}

.archief-filter {
    background-color: #ffebb3;
}

.archief-filter .dropdown a.dropdown-toggle {
    color: #fff !important;
}

.archief-filter .dropdown .dropdown-menu {
    list-style: none !important;
    padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x) !important;
    z-index: 5000;
}

.archief-filter .dropdown a.dropdown-item {
    color: var(--bs-dropdown-link-color) !important;
}

.archief-filter .filter-value {
    color: #808080;
}