@font-face {
  font-family: 'icomoon';
  src:  url('icomoon/icomoon.eot?flndxv');
  src:  url('icomoon/icomoon.eot?flndxv#iefix') format('embedded-opentype'),
    url('icomoon/icomoon.ttf?flndxv') format('truetype'),
    url('icomoon/icomoon.woff?flndxv') format('woff'),
    url('icomoon/icomoon.svg?flndxv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-issuu:before {
  content: "\e901";
}
.icon-twizzit:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-flickr:before {
  content: "\f16e";
}
.icon-whatsapp:before {
  content: "\f232";
}
.icon-facebook:before {
  content: "\f39e";
}
.icon-messenger:before {
  content: "\f39f";
}
.icon-strava:before {
  content: "\f428";
}
